# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/

# Django
db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django secrets
services/api/.env
.env
