services:
  db:
    image: postgres:16
    container_name: accesosen-db
    environment:
      POSTGRES_DB: accesosen
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
